body {
  margin: 0;
  height: 2000px;
  background: black;
}

section {
  height: 100vh;
  background:url(https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/945eec79-6856-4d95-b4c6-83ff5292f33d/KR-ko-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg)
}

section:before {
  content: '';
  background: linear-gradient(to top,black,transparent);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 6em;
  position: absolute;
  top: 1px;
  left:120px;
}

p {
  color: white;
  font-size: 3.125rem;
  font-weight: 600;  
  position: absolute;
  top: 350px;
  left:160px;
  font-family: sans-serif;
}

.container{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
}
